<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="\home">MentorConnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="\dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\learn">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\mentor">Mentor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\profile">Profile</a>
                </li>
            </ul>
            
        </div>
    </nav>
</div>
