<div class="h-100">
  <div style="height: 90px;">
    <app-navbar></app-navbar>
  </div>
  <div class="row no-gutters" style="display: flex; height: calc(100% - 90px); padding: 0 60px; overflow-y: auto;">
    <div class="col-sm-4">
      <div class="display-4">
        Notifications
      </div>
      <div *ngIf="pendingStudentAppointments == null || pendingStudentAppointments.length == 0"
        class="card text-white bg-dark">
        <div class="card-header">
          <h5 class="card-title">No notifications</h5>
        </div>
      </div>
      <ng-container *ngFor="let appointment of pendingStudentAppointments">
        <div *ngIf="pendingStudentAppointments!=null && pendingStudentAppointments.length>0"
          class="card text-white bg-dark">
          <div class="card-header">
            <h5 class="card-title">{{appointment.student.name}}</h5>
          </div>
          <div class="card-body">
            <p style="font-size: 14px;">Subject: {{appointment.course.subject.name}}</p>
            <p style="font-size: 14px;">Course: {{appointment.course.name}}</p>
            <p style="font-size: 14px;">Date & Time: {{appointment.appointment}}</p>
            <div class="decide-btns">
            <button type="button" class="btn btn-success" (click)="onClickAccept(appointment.transaction_id)"
              style="font-size: 13px;">Accept</button>
            <button type="button" class="btn btn-danger" (click)="onClickReject(appointment.transaction_id)"
              style="font-size: 13px;">Reject</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-4">
      <div class="display-4">
        Student Appointments
      </div>
      <div *ngIf="studentAppointments == null || studentAppointments.length == 0" class="card text-white bg-dark">
        <div class="card-header">
          <h5 class="card-title">No Student Appointments</h5>
        </div>
      </div>
      <ng-container *ngFor="let appointment of studentAppointments">
        <div *ngIf="studentAppointments!=null && studentAppointments.length>0" class="card text-white bg-dark">
          <div class="card-header">
            <h5 class="card-title">{{appointment.student.name}}</h5>
          </div>
          <div class="card-body">
            <p style="font-size: 14px;">Subject: {{appointment.course.subject.name}}</p>
            <p style="font-size: 14px;">Course: {{appointment.course.name}}</p>
            <p style="font-size: 14px;">Date & Time: {{appointment.appointment}}</p>
            <hr />
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-4">
      <div class="display-4">
        Mentor Appointments
      </div>
      <div *ngIf="tutorAppointments == null || tutorAppointments.length == 0" class="card text-white bg-dark">
        <div class="card-header">
          <h5 class="card-title">No Mentor Appointments</h5>
        </div>
      </div>
      <ng-container *ngFor="let appointment of tutorAppointments">
        <div *ngIf="tutorAppointments!=null && tutorAppointments.length>0" class="card text-white bg-dark">
          <div class="card-header">
            <h5 class="card-title">{{appointment.tutor.name}}</h5>
          </div>
          <div class="card-body">
            <p style="font-size: 14px;">Subject: {{appointment.course.subject.name}}</p>
            <p style="font-size: 14px;">Course: {{appointment.course.name}}</p>
            <p style="font-size: 14px;">Status: {{appointment.statusStr}}</p>
            <p style="font-size: 14px;">Date & Time: {{appointment.appointment}}</p>
            <hr />
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>