<div>
    <div>
        <app-navbar></app-navbar>
    </div>
    <div class = "row" style="display: flex;">
        <div class = "col-sm-3" style="padding-top:50px;padding-left: 50px">
            <div class="card" style="width: 18rem;min-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                    <div *ngIf = "pendingStudentAppointments == null || pendingStudentAppointments.length == 0" style="padding-top: 5px;">
                         <h6 class="card-subtitle mb-2 text-muted">No notifications</h6>
                    </div>
                   <div *ngIf = "pendingStudentAppointments!=null && pendingStudentAppointments.length>0">
                        <div class="row" style="font-size: 12px;padding-bottom: 4px;" *ngFor = "let appointment of pendingStudentAppointments">
                            <div class="col-sm-12">
                                Name: {{appointment.student.name}} <br/>
                                Subject: {{appointment.course.subject.name}} <br/>
                                Course: {{appointment.course.name}} <br/>
                                Date & Time: {{appointment.appointment}} 
                                <div class = "row" style="padding-top: 4px; padding-bottom: 4px;">
                                    <div class = "col-sm-2" style="padding-left: 0px;">
                                        <button type="button" class="btn btn-link" (click)="onClickAccept(appointment.transaction_id)" style="font-size: 13px;">Accept</button>
                                    </div>    
                                    <div class = "col-sm-2">
                                        <button type="button" class="btn btn-link" (click)="onClickReject(appointment.transaction_id)" style="font-size: 13px;">Reject</button>
                                    </div>
                                </div>
                            </div>
                         </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-sm-3" style="padding-top:50px;padding-left: 50px">
            <div class="card" style="width: 18rem;min-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Student Appointments</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div style="font-size: 12px;">
                        <ul>
                            <li *ngFor="let appointment of studentAppointments">
                                Name:{{appointment.student.name}} <br/>
                                Subject: {{appointment.course.subject.name}} <br/>
                                Course: {{appointment.course.name}} <br/>
                                Date & Time: {{appointment.appointment}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-sm-3" style="padding-top:50px;padding-left: 50px">
            <div class="card" style="width: 18rem;min-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Mentor Appointments</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div style="font-size: 12px;">
                        <ul>
                            <li *ngFor="let appointment of tutorAppointments">
                                Name: {{appointment.tutor.name}} <br/>
                                Subject: {{appointment.course.subject.name}} <br/>
                                Course: {{appointment.course.name}} <br/>
                                Status: {{appointment.statusStr}}<br/>
                                Date & Time: {{appointment.appointment}} <br/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
