#learn-filter {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

    input {
        width: 20%;
        margin-right: 40px;
    }
}

::placeholder {
    color: white;
}

:host ::ng-deep ng-multiselect-dropdown {
    width: 20%;
    height: fit-content;

    .dropdown-list {
        overflow: hidden;
    }
}

#tutor-cards {
    height: calc(100% - 155px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    .tutor-card {
        height: fit-content;
        width: 20%;
    }
}