<div class="h-100">
  <div style="height: 90px;">
    <app-navbar></app-navbar>
  </div>
  <div id="learn-filter">
    <input [(ngModel)]="nameFilter" aria-describedby="basic-addon1" class="form-control bg-dark text-white" placeholder="Search By Name"
      type="text">
    <ng-multiselect-dropdown class=" bg-dark text-white" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
      [(ngModel)]="selectedItems" [data]="allCourses" [placeholder]="'Search by Courses'" [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
  </div>
  <div id="tutor-cards">
    <div class="tutor-card" *ngFor="let item of tutors | tutorFilter: nameFilter:selectedItems">
      <app-contact-card [transactions]="allTransactions" [tutorInfo]="item"></app-contact-card>
    </div>
  </div>
</div>